body {
    background-color: black;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.squ {
    width: 30%;
    background: blue;
    padding-bottom: 30%;
    margin: 1.6%;
    float: left;
}

#container {
    margin: 0 auto;
    width: 500px
}

h1 {
    color: white;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

span {
    color: black;
}

#stripe {
    background-color: white;
    text-align: center;
    height: 30px;
}

.buttons {
    background-color: blue;
}

#CD {
    font-size: 200%;
}

button {
    border: none;
    color: none;
    height: 100%;
    font-weight: 700;
    font-size: inherits;
}